@using CoderSight.Core.Blocks.Data

<section class="py-8 px-4">
    <div class="max-w-6xl mx-auto rounded-lg overflow-hidden">
        <iframe src="@Data?.EmbedUrl" width="100%" height="@(Data?.Height ?? 400)" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

@code {
    [Parameter] public MapEmbedBlockData? Data { get; set; }
}
